{% extends "base_generic.html" %}

{% block content %}
    {% include "includes/breadcrumb.html" with level=4 page2="Solicitações" url2="ticket" page3="Solicitações Ambiente Virtual de Aprendizagem" url3="ticket-ava" current_page="Solicitação de Abertura de Disciplina"%}

    <div class="container mt-5 w-50">
        {% include "includes/messages.html" %}
        <h3 class="h3">Solicitação de Abertura de Disciplina</h3>
        <h4 class="h4">Solicitante: {{solicitante}}</h4>
        <div class="divider-ticket"></div>
        <form method="post" action="">{% csrf_token %}
            <table class="mt-4 table table-striped">
                <tr>
                    <th>{{form.professor_responsavel.label}}:</th>
                    <td colspan="2">{{form.professor_responsavel}}</td>
                </tr>
                <tr>
                    <th>{{form.siape.label}}:</th>
                    <td colspan="2">{{form.siape}}</td>
                </tr>
                <tr>
                    <th>{{form.unidade_lotacao.label}}:</th>
                    <td colspan="2">{{form.unidade_lotacao}}</td>
                </tr>
                <tr>
                    <th>{{form.categoria.label}}:</th>
                    <td colspan="2">{{form.categoria}}</td>
                </tr>
                <tr id="codigo_siga">
                    <th>{{form.codigo_siga.label}}:</th>
                    <td colspan="2">{{form.codigo_siga}}</td>
                </tr>
                <tr>
                    <th>{{form.nome_disciplina.label}}:</th>
                    <td colspan="2">{{form.nome_disciplina}}</td>
                </tr>
                <tr>
                    <th>{{form.tipo_curso.label}}:</th>
                    <td colspan="2">{{form.tipo_curso}}</td>
                </tr>
                <tr>
                    <th>{{form.curso_disciplina.label}}:</th>
                    <td colspan="2">{{form.curso_disciplina}}</td>
                </tr>
                <tr>
                    <th>{{form.departamento_disciplina.label}}:</th>
                    <td colspan="2">{{form.departamento_disciplina}}</td>
                </tr>
                <tr>
                    <th>{{form.ano.label}}:</th>
                    <td>{{form.ano}}</td>
                    <th class="d-flex gap-3 align-items-center">{{form.semestre.label}}:{{form.semestre}}</th>
                </tr>
                <tr>
                    <th>{{form.possui_turma.label}}</th>
                    <th colspan="2">
                        {{form.possui_turma}}<span style="display:none;" id="possui_turma">{{form.turma.label}}{{form.turma}}</span>
                    </th>
                </tr>
                <tr>
                    <th>{{form.importar_conteudo_passado.label}}</th>
                    <th colspan="2">
                        {{form.importar_conteudo_passado}}<span style="display:none;" id="conteudo_passado">{{form.conteudo_passado.label}}{{form.conteudo_passado}}</span>
                    </th>
                </tr>
                <tr>
                    <th>{{form.modo_inscricao_alunos.label}}:</th>
                    <td colspan="2">{{form.modo_inscricao_alunos}}</td>
                </tr>
                <tr>
                    <th>{{form.atividades_inicio.label}}:</th>
                    <td colspan="2">{{form.atividades_inicio}}</td>
                </tr>
                <tr>
                    <th>{{form.atividades_fim.label}}:</th>
                    <td colspan="2">{{form.atividades_fim}}</td>
                </tr>
                <tr>
                    <td class="text-danger" colspan="3">
                        * Caso necessário capacitação, fazer solicitação à equipe Pedagógica do CEAD<br>
                        ** Os guias para Banners de Disciplinas - Padrão CEAD/UFJF podem ser encontrados no site do CEAD. (http://www.cead.ufjf.br/sou-professor/banners-de-disciplina-padrão/)
                    </td>
                </tr>
            </table>
            <button type="submit" class="btn btn-primary">Submeter</button>
        </form>
    </div>

    <script>
        $('#id_categoria').change(function(){
            if($('#id_categoria').val() == 'UFJF Livre'){
                $('#id_codigo_siga').hide()
            }else{
                $('#id_codigo_siga').show()
            }
        })
        $('#id_possui_turma').click(function(){
            if($('#id_possui_turma').is(':checked')){
                $('#possui_turma').show()
            }else{
                $('#possui_turma').hide()
            }
        })
        $('#id_importar_conteudo_passado').click(function(){
            if($('#id_importar_conteudo_passado').is(':checked')){
                $('#conteudo_passado').show()
            }else{
                $('#conteudo_passado').hide()
            }
        })
    </script>
{% endblock %}