{% extends "base_generic.html" %}

{% block content %}

{% include "includes/breadcrumb.html" with level=4 url2="curso" page2="Curso" url3="pr_associa_usuario_edital-list" page3="Editais" current_page="Vincular Usuário" %}


<div class="container">

    {% include "includes/update_header.html" with title="Vincular Usuário" divider="curso" subject=usuario.first_name %}
    
    <form method="post" action="">{% csrf_token %}
        {{ form.usuario_vinculado }}
        <div class="mt-3 border rounded p-3">
            {{form.as_p}}
        </div>

        {% include "includes/submit_button.html" with action="Vincular" %}
    </form>
</div>

<script>

    // armazena a String HTML enviada pelo Django contendo os editais vinculados ao usuário
    // transforma num array contendo as informações importantes.
    // a cada vez que a substring "PR_edital: " aparece, é precedida por um número de edital
    editais = '{{ usuario.pr_edital_set.select_related.all }}'.split('PR_edital: ')
    // remove o primeiro item do array, sem informação relevante
    editais.shift()

    // armazena apenas o número do edital, removendo caracteres adicionais
    editais.forEach((element, index) => {
        editais[index] = element.substring(0,8)
    })

    // Marca todas as checkbox relacionadas ao usuário em questão
    $('#id_editais label').each(function(index){
        // armazena apenas o número do edital, removendo caracteres adicionais
        var num_edital = $(this).text().trim().substring(0,8);
        
        // confere se o edital da checkbox está presente no array
        if(editais.includes(num_edital)){
            $('#id_editais_'+ String(index)).prop('checked', true);
        }
    });
</script>

{% endblock %}