{% extends "base_generic.html" %}

{% block content %}

{% include "includes/breadcrumb.html" with level=4 url2="curso" page2="Curso" url3="pr_edital-list" page3="Editais" current_page="Vincular Etapas" %}

<div class="mt-5 container">
    
    <h3>{{edital}}</h3>

    <div class="divider-curso mb-2"></div>

    <form method="post" action="">{% csrf_token %}
        <table id="list-table" class="table table-hover table-striped">
            <thead class="bg-curso text-light">
                <th>Etapas</th>
                <th>Data de Travamento</th>
                <th>Hora de Travamento</th>
            </thead>
            <tbody>

                {{pr_associa_vaga_etapa_formset.management_form}}

                {% for etapa, extra in form_vaga %}
                
                    {% for hidden in extra.hidden_fields %}
                        {{hidden}}
                    {% endfor %}
                
                    <tr>
                        <td>{{etapa}}</td>
                        <td>{{extra.data_final}}</td>
                        <td>{{extra.hora_final}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <button class="btn btn-light border px-4" type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#28a745" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
            </svg>
            <br>Cadastrar
        </button>
    </form>
</div>

<script type="text/javascript">
    $(function() {
        $('.inlineForm').formset({
            prefix: '{{ form_vagas_edital.prefix }}',
            addText: 'Adicionar Vagas',
            deleteText: 'Remover Vagas'
        });
    })
    
    $('input[type="checkbox"]').change(
        function(){
            if($(this).is(':checked')){
                $(this).parent().parent().next().children().removeClass('hide');
                $(this).parent().parent().next().next().children().removeClass('hide');
            }else{
                $(this).parent().parent().next().children().addClass('hide');
                $(this).parent().parent().next().next().children().addClass('hide');
            }
        }
    )

    $(document).ready(function(){
        if($('input[type="checkbox"]').is(':checked')){
            $('input:checked').parent().parent().next().children().removeClass('hide');
            $('input:checked').parent().parent().next().next().children().removeClass('hide');
        }
    })
</script>

{% endblock %}