{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="curso" page2="Curso" current_page="Editais" %}

<div class="container">
    
    {% include "includes/header.html" with title="Editais" divider="curso" level=4 active1=0 action1_url="pr_edital-list" action1="Consultar" active2=1 action2_url="pr_edital-create" action2="Cadastrar" active3=0 action3="Vincular Usuário" action3_url="pr_associa_usuario_edital-list" active4=0 action4="Cadastrar Etapas" action4_url="pr_etapa-list" %}

    <form method="post" action="">{% csrf_token %}
        <table class="table table-hover table-striped">
            <tr>
                <th>{{form.num_edital.label}}:</th>
                <td>{{form.num_edital}}</td>
            </tr>
            <tr>
                <th>{{form.ano_edital.label}}:</th>
                <td>{{form.ano_edital}}</td>
            </tr>
            <tr>
                <th>{{form.multiplas_inscricoes.label}}:</th>
                <td class="d-flex">{{form.multiplas_inscricoes}}{{form.multiplas_inscricoes.help_text}}</td>
            </tr>
            <tr>
                <th>{{form.curso.label}}:</th>
                <td>{{form.curso}}</td>
            </tr>
            <tr>
                <th>{{form.setor.label}}:</th>
                <td>{{form.setor}}</td>
            </tr>
            <tr>
                <th>{{form.descricao.label}}:</th>
                <td>{{form.descricao}}</td>
            </tr>
            <tr>
                <th>{{form.modalidade.label}}:</th>
                <td>{{form.modalidade}}</td>
            </tr>
        </table>
        
        {{ form_vagas_edital.management_form }}
           
        {% for extra_form in form_vagas_edital %}
        
        {% for hidden in extra_form.hidden_fields %}
            {{hidden}}
        {% endfor %}
        
        <div class="inlineForm" style="display: flex;">
            <span class="label">{{ extra_form.quantidade.label }}:</span>
            <span>{{ extra_form.quantidade }}</span>
            <span class="label">{{ extra_form.vaga_para_polo.label }}:</span>
            {{ extra_form.vaga_para_polo }}
            {{ extra_form.polo }}
        </div>
        {% endfor %}
        <br>

        {% include "includes/submit_button.html" with action="Cadastrar"%}
        
    </form>

</div>

<script type="text/javascript">
    $(function() {
        $('.inlineForm').formset({
            prefix: '{{ form_vagas_edital.prefix }}',
            addText: 'Adicionar Vagas',
            deleteText: 'Remover Vagas'
        });
    })
    
    $('input[type="checkbox"').change(
        function(){
            if($(this).is(':checked')){
                $(this).next().removeClass('hide').addAttr('required');
                $(this).next().prop('selectedIndex', 0);
            }else{
                $(this).next().addClass('hide').removeAttr('required');
                $(this).next().prop('selectedIndex', 0);
            }
        }
    )

    $('#id_curso').select2();
</script>

{% endblock %}