{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="curso" page2="Curso" current_page="Ofertas" %}

<div class="container">
    
    {% include "includes/create_header.html" with title="Ofertas" divider="curso" list_url="si_curso_oferta-list" %}
    
    {% include "includes/messages.html" %}

    <form method="post" action="">{% csrf_token %}
        <table class="table table-hover table-striped">
            <tr>
                <th>{{form.curso.label}}</th>
                <td>{{form.curso}}</td>
            </tr>
            <tr>
                <th>{{form.numero_oferta.label}}</th>
                <td class="d-flex">{{form.numero_oferta}}/{{form.ano_oferta}}</td>
            </tr>
            <tr>
                <th>{{form.data_inicio.label}}</th>
                <td>{{form.data_inicio}}</td>
            </tr>
            <tr>
                <th>{{form.data_fim.label}}</th>
                <td>{{form.data_fim}}</td>
            </tr>
            <tr>
                <th>{{form.periodos.label}}</th>
                <td>{{form.periodos}}</td>
            </tr>
        </table>
        {{ form_si_associa_curso_oferta_polo.management_form }}    
        {% for extra_form in form_si_associa_curso_oferta_polo %}
        <div class="inlineForm" style="display: flex;">
            <span class="label">{{ extra_form.polo.label }}</span>
            <span class="poloSelect">{{ extra_form.polo }}</span>
            <span class="label">{{ extra_form.num_vagas.label }}</span>
            <span class="num_vagasSelect">{{ extra_form.num_vagas }}</span>
        </div>
        {% endfor %}
        <br>
        
        {% include "includes/submit_button.html" with action="Cadastrar" %}

    </form>
</div>

<script>
    $(function() {
        $('.inlineForm').formset({
            prefix: '{{ form_si_associa_curso_oferta_polo.prefix }}',
            addText: 'Adicionar Polo',
            deleteText: 'Remover Polo'
        });
        $('#id_curso').select2();
    })
</script>

{% endblock %}
