{% extends "login_base.html" %}

{% block content%}
{% load static %}
<div class="container border p-4 rounded shadow mt-5 w-20">
    <div class="text-center">
        <img src="{% static 'images/logo_cead.svg' %}" style="width: 12rem; height: auto;">
    </div>
    <div>
        <p class="text-center mt-3">Informe o endereço de e-mail cadastrado no sistema para receber informações para redefinição de senha.</div>        
            <form class="mt-5 text-center" action="" method="post">
                {% csrf_token %}
                {% if form.email.errors %}
                    {{ form.email.errors }}
                {% endif %}
                    <p>{{ form.email }}</p>
                <div style="display: flex; gap: 0.5rem;">
                    <a class="btn btn-secondary w-50" href="{% url 'login' %}">Voltar</a>
                    <input type="submit" class="btn btn-primary w-50" value="Redefinir senha">
                </div>
            </form>
    </div>
</div>
{% endblock %}


{% comment %} {% block content %}
<div class="container">
  <form class="mt-5" action="" method="post">
  {% csrf_token %}
  {% if form.email.errors %}
    {{ form.email.errors }}
  {% endif %}
      <p>{{ form.email }}</p>
    <input type="submit" class="btn btn-default btn-lg" value="Reset password">
  </form>
</div>
{% endblock %} {% endcomment %}