{% extends "login_base.html" %}

{% block content%}
{% load static %}
<div class="container border p-4 rounded shadow mt-5 w-20">
    <div class="text-center">
        <img src="{% static 'images/logo_cead.svg' %}" style="width: 12rem; height: auto;">
    </div>
    <div>        
        <p class="text-center">Nós enviamos para seu e-mail instruções para configurar sua senha.</p>
        <p class="text-center">Se elas não chegarem em poucos minutos, favor checar sua caixa de spam</p>
    </div>
</div>
{% endblock %}