{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="polo" page2="Polo" current_page="Polos" %}

<div class="container mb-5">
    
    {% include "includes/create_header.html" with title="Polos" divider="polo" list_url="cm_polo-list" %}
    
    {% include "includes/messages.html" %}

    <form method="post" action="">{% csrf_token %}
        <table class="table table-hover table-striped">
            {{ form.as_table }}
        </table>
        {{ form_si_associa_polo_ies.management_form }}    
        {% for extra_form in form_si_associa_polo_ies %}
        <div class="inlineForm" style="display: flex;">
            <span class="label">{{ extra_form.ies.label }}</span>
            <span class="poloSelect">{{ extra_form.ies }}</span>
        </div>
        {% endfor %}
        <br>
        
        {% include "includes/submit_button.html" with action="Cadastrar" %}
    </form>
</div>

{% include "includes/footer.html" %}

<script type="text/javascript">
    $(function() {
        $('.inlineForm').formset({
            prefix: '{{ form_si_associa_polo_ies.prefix }}',
            addText: 'Adicionar IES',
            deleteText: 'Remover IES'
        });
        $('#id_mantenedor').select2();
        $('#id_coordenador').select2();
        $('#id_uf').select2();
        $('#id_pais').select2().val(21).change();;

        $('#id_ies_vinculadas').addClass('overflow-auto h-100');

        $('#id_cep').on('change', async function(){
            const response = await fetch('https://viacep.com.br/ws/' + $('#id_cep').val().replace('-','') + '/json/');
            if(response.status == 200){
                var data = await response.json();
    
                $('#id_rua').val(data.logradouro);
                $('#id_complemento').val(data.complemento);
                $('#id_bairro').val(data.bairro);
                $('#id_uf').val(data.uf);
                $('#id_cidade').val(data.localidade);
                $('#id_uf').select2().val(data.uf).trigger('change');
            }
        })
    })
</script>

{% endblock %}