{% extends "base_generic.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="polo" page2="Polo" current_page="Mantenedor" %}

<div class="container">
    
    {% include "includes/create_header.html" with title="Mantenedor" divider="polo" list_url="si_mantenedor-list" %}
    
    {% include "includes/basic_form.html" %}
    
</div>

<script>
    $(function(){
        $('#id_uf').select2();
        $('#id_pais').select2().val(21).change();

        $('#id_cep').on('change', async function(){
            const response = await fetch('https://viacep.com.br/ws/' + $('#id_cep').val().replace('-','') + '/json/');
            if(response.status == 200){
                var data = await response.json();
    
                $('#id_rua').val(data.logradouro);
                $('#id_complemento').val(data.complemento);
                $('#id_bairro').val(data.bairro);
                $('#id_uf').val(data.uf);
                $('#id_cidade').val(data.localidade);
                $('#id_uf').select2().val(data.uf).trigger('change');
            }
        })
    })
</script>

{% endblock %}