{% extends "base_generic.html" %} 
{% block content %}
{% include "includes/breadcrumb.html" with level=3 page2="Almoxarifado" url2="almoxarifado" current_page="Estoque" page3="list_categoria" %}

<div class="container mt-5">
    <h3>Estoque</h3> 
    <div class="divider-almoxarifado"></div>
    {% include "includes/filter.html" %}
    <table id="list-table" class="table text-center table-hover table-striped">
    <tr>
        <th class="text-center">Código Produto</th>
        <th class="text-center">Descrição</th>
        <th class="text-center">Unidade</th>
        <th class="text-center">Categoria</th>
        <th class="text-center">Tipo de Produto</th>
        <th class="text-center">Quantidade em Estoque</th>
    </tr>    
    {%for estoque in page_obj%}
        <tr>

            <td>
                {{estoque.produto.codigo_siga}}    
            </td>
                
            <td>
                {{estoque.produto.descricao}}    
            </td>

            <td>
                {{estoque.produto.unidade}}
            </td>

            <td>
                {{estoque.produto.categoria}}
            </td>

            <td>
                {{estoque.produto.get_tipo_produto_display}}
            </td>

            <td>
                {{estoque.quantidade_estoque}}    
            </td>

        </tr>
    {% endfor %}
    </table>    
    {% include "includes/pagination.html" %}
    {% include "includes/footer.html" %}       
</div>
{% endblock %}
