{% extends "base_generic.html" %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="viagem" page2="Viagens" current_page="Cadastro de Endereços"%}

<div class="container">
    
    {% include "includes/create_header.html" with title="Cadastro de Endereços" divider="viagem" list_url="vi_endereco-list" %}
    
    {% include "includes/basic_form.html" %}
    
</div>

<script>
    $(document).ready(function(){
        $('#id_uf').select2();
    })

    $('#id_cep').on('change', async function(){
        const response = await fetch('https://viacep.com.br/ws/' + $('#id_cep').val().replace('-','') + '/json/');
        if(response.status == 200){
            var data = await response.json();

            $('#id_rua').val(data.logradouro);
            $('#id_complemento').val(data.complemento);
            $('#id_bairro').val(data.bairro);
            $('#id_uf').val(data.uf);
            $('#id_cidade').val(data.localidade);
            $('#id_uf').select2().val(data.uf).trigger('change');
        }
    })
</script>

{% endblock %}