{% extends "login_base.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=3 url2="administracao" page2="Acesso Restrito" current_page="Usuários" %}

<div class="container">
    <h3 class="h3">Usuários</h3>

    <div class="divider-administracao mb-2"></div>
    
    <h3>Atualização de usuário para <strong>{{user.first_name}}</strong></h3>
    
    <form method="post" action="">{% csrf_token %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <table class="table table-hover table-striped">
            <tr>
                <th>Nova {{form.password1.label}}</th>
                <td>{{form.password1}}</td>
            </tr>
            <tr>
                <th>{{form.password2.label}}</th>
                <td>{{form.password2}}</td>
            </tr>
        </table>
        <div class="text-center">
            <button class="btn btn-light border px-4" type="submit">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#28a745" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                </svg>
                <br>Atualizar
            </button>
            <button class="btn btn-primary text-light ml-3" type="button" onclick="history.back()">Voltar</button>
        </div>
    </form>

</div>

{% endblock %}