{% extends "base_generic.html" %}

{% block content %}
<main>
    {% include "includes/breadcrumb.html" with level=2 current_page="Acesso Restrito" %}
    
    {% include "includes/submenu.html" with color="bg-administracao" url1="cm_pessoa-list" page1="Pessoas" url2="grupo-list" page2="Grupos" url3="permissao-list" page3="Permissões" url4="user" page4="Cadastro e Edição de Usuários" url5="extra" page5="Cadastros Adicionais" url6="funcionario-list" page6="Funcionários do CEAD" url7="setor-list" page7="Setores do CEAD" %}
</main>
{% endblock %}