{% extends "base_generic.html" %}

{% block content %}
<main>
    {% include "includes/breadcrumb.html" with level=3 url2="administracao" page2="Acesso Restrito" current_page="Cadastros Adicionais" %}
    
    {% include "includes/submenu.html" with color="bg-administracao" url1="fi_programa-list" page1="FI - Programa" url2="si_curso_situacao-list" page2="SI - Curso: Situação" url3="si_tipo_curso-list" page3="SI - Tipos de Curso" url4="fi_orgao_fomento-list" page4="FI - Órgão de Fomento" %}
</main>
{% endblock %}