{% extends "base_generic.html" %}

{% block content %}

{% include "includes/breadcrumb.html" with level=4 url2="administracao" page2="Acesso Restrito" url3="funcionario-list" page3="Quadro de Funcionários do CEAD" current_page="Editar" %}


<div class="container mt-5">
    {% include "includes/update_header.html" with title="Funcionários do CEAD" divider="administracao" subject=funcionario.pessoa.nome %}
    
    {% include "includes/basic_form.html" %}
</div>

<script>
    $(function(){
        $('#id_pessoa').select2();
    });
</script>


{% endblock %}