{% extends "login_base.html" %}
{% load static %}

{% block content %}

{% include "includes/breadcrumb.html" with level=4 url2="administracao" page2="Acesso Restrito" url3="user" page3="Usuários" current_page="Grupos" %}

<div class="container">
    <h3 class="h3">Grupos para <strong>{{user.first_name}}</strong></h3>

    <div class="divider-administracao mb-2"></div>
    <div class="mt-3">
        {% if form.fields.groups.queryset %}
        <form method="post" action="">{% csrf_token %}
            <div class="mh-80vh">        
                <table class="table table-hover table-striped">
                    <tbody>
                        <tr>
                            <th class="bg-administracao text-light" colspan="2">Grupos:</th>
                        </tr>
                        {% for permission in form.groups %}
                        <tr>
                            <td colspan="2">{{permission}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            

            {% include "includes/submit_button.html" with action="Cadastrar"%}

        </form>
        {% else %}
        <p>Ainda não existem grupos cadastrados no sistema.</p>
        {% endif %}
    </div>
    
{% endblock %}