Django==4.0.4
django-braces==1.15.0
django-filter==22.1
django-localflavor==3.1
django-redis==5.2.0
uuid==1.30
requests==2.28.1
unicode==2.9
wkhtmltopdf
Pillow
matplotlib
numpy
psycopg2-binary
aldjemy
pymemcache
Jinja2